################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/recuperação/v17/.suo
/.vs/recuperação/FileContentIndex
/packages/BouncyCastle.Cryptography.2.2.1/lib/net461/BouncyCastle.Cryptography.dll
